@{
    ViewData["Title"] = "Home Page";
    /*
    var appsJson = "";
    if (ViewBag.UserMenu != null)
    {
        appsJson = System.Text.Json.JsonSerializer.Serialize(ViewBag.UserMenu);
    }
    */
}
<div><label>ESTA ES UNA PRUEBA DE ESTA PAGINA INDEX DEL HOME</label></div>

<script type="text/javascript">
    // Función para mostrar la alerta de productos con stock bajo
        //var varbaseUrl = 'Url.Content("~/")';
    // Llamar a la función de alerta cuando la página esté cargada
    //window.onload = function () {
        //alert('onload');
        //$("#divmenuApps").html(GenerarMenu(Html.Raw(appsJson)));
    //};
</script>
