@using BlazorStrap
@using static UCR.ECCI.PI.ThemePark_UCR.Presentation.Blazor.Pages.CreateLearningSpace
@code {
    [Parameter] public string Asign_later { get; set; }
    [Parameter] public LearningSpace LearningSpace { get; set; }
    [Parameter] public bool IsDisabled { get; set; }
    [Parameter] public EventCallback GoToLLS { get; set; }
    [Parameter] public EventCallback GoToAddComponent { get; set; }
}

<div class="spacing">
    <BSRow Position="Position.Relative" Justify="Justify.Start">
        <BSCol>
            <BSButton Color="BSColor.Primary" IsSubmit="true" Target="modal2" IsDisabled="@((Asign_later == "off" && !LearningSpace.isAsigned) || (IsDisabled && Asign_later == "on" || LearningSpace.Id == null || LearningSpace.Id == ""))">Crear Espacio</BSButton>
        </BSCol>
        <BSCol>
            <BSButton Color="BSColor.Secondary" @onclick="GoToLLS" IsReset="true">Cancelar</BSButton>
        </BSCol>
    </BSRow>
</div>
